.content {
  display: flex;
  width: 90%;
  height: 50%;
  justify-content: space-around;
  align-items: center;
  margin: auto;
}

.fog {
  width: 59px;
  height: 59px;
}

img {
  width: 35px;
  height: 35px;
}
